

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1);}
    25% {-webkit-transform: scale(1.2);}
    50% {-webkit-transform: scale(1.2);}
    100% {-webkit-transform: scale(1);}
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    cursor: none;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: solid black;
    font-family: 'Roboto', sans-serif;
    min-height: 740px;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

h1 {
    font-size: 150px;
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    font-size: 80px;
    font-weight: 400;
}

h3 {
    font-size: 54px;
    font-weight: 400;

}

img { 
    width: 100%;
    font-weight: 400;
    background-color: transparent;
}

blockquote {
    font-size: 36px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.red {
    color: #F44336;
}

.orange {
    color: #FF5722;
}

.yellow {
    color: #FFEB3B;
}

.green {
    color: #4CAF50;
}

.blue {
    color: #2196F3;
}

.purple {
    color: #673AB7;
}

i.white {
    color: white;
}

.black {
    color: black;
}

.black-bg {
    transition: background-color 7s !important;
    background-color: black !important;
}

.gray-bg {
    transition: background-color 3s !important;
    background-color: #9E9E9E !important; 
}

.purple-gradient {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#673AB7), to(#6C3DC1));
    background: -webkit-radial-gradient(#673AB7, #6C3DC1);
    background:    -moz-radial-gradient(#673AB7, #6C3DC1);
    background:     -ms-radial-gradient(#673AB7, #6C3DC1);
    background:      -o-radial-gradient(#673AB7, #6C3DC1);
    background:         radial-gradient(#673AB7, #6C3DC1);
    transition: background 1s;
}

.purple-bg {
    background-color: #673AB7;
    transition: background-color 1s;
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Roboto', sans-serif;    
    font-size: 48px;
    font-weight: 300;
    line-height: 1.5;
}

.step.wide {
    width: 1200px;
}

.step.full {
    width: 100vw;
    height: 100vh;
}

.step.hid:not(.present){
    opacity: 0;
}

.step.future-hid.future {
    opacity: 0;
}

.step.future-hid.past {
    opacity: 1;
}

.hid:not(.present){
    opacity: 0;
}

.step:not(.present) .hid {
    opacity: 0;
}

.step.present .hid {
    opacity: 1;
}

.step.future .future-hid {
    opacity: 0;
}

.step.present .future-hid {
    opacity: 1;
}

.step.past .future-hid {
    opacity: 1;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.well,
.fa {
    color: black;
}

u {
    border-bottom: 8px dotted #F44336;
    text-decoration: none;
}

.impress-enabled .step.active { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide {
    display: block;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: black;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.slide li {
    margin-bottom: .4em;
}

.slide h3 {
    margin-bottom: .4em;
}

.strings {
    position: absolute;
    top: 150px;
    left: 75px;
}

#built {
    width: 1400px;
}

#built * {
    transition: 1s;
}

#built .well {
    margin-top: 4em;
}

#built.present .improve-products {
    animation: pulsate 2s ease-out;
    animation-delay:         2s;
}

#built.present .save-time {
    animation: pulsate 2s ease-out;
    animation-delay:         4s;
}

#built.present .save-money {
    animation: pulsate 2s ease-out;
    animation-delay:         6s;
    transition-delay: 6s;
    color: #4CAF50;
}

#black {
    transition: opacity 7s;
    transition-delay: 7s;
}

#I18N {
    width: 2000px;
}

 #I18N .I {
    position: relative;
    display: inline-block;
    z-index: 10;
    background-color: black;
    opacity: 1;
    line-height: 1em;
    padding-left: 1000px;
    margin-left: -700px;
}

#I18N .nter {
    position: relative;
    z-index: -10;
    display: inline-block;
    left: -1.85em;
}

#I18N.past .nter {
    display: none;
}

#I18N.present .nter {
    transform: translateX(-2000px);
    transition-delay: 2s;
    transition-duration: 2s;
}

#I18N .short {
    left: -1000px;
    z-index: 0;
    display: inline-block;
    position: relative;
}

#I18N.present .short,
#I18N.past .short {
    transform: translateX(1000px);
    transition-delay: 3s;
    transition-duration: 2s;
}

.database {
    padding: 75px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 10px solid rgba(0, 0, 0, 0)
}

.database-visible {
    border: 10px solid white;
}

.database h2 {
    margin: 0 60px;
}

#devHarness img {
    width: 750px;
}

#harness {
    position: relative;
    margin-top: 500px;
}

#devHarness.present #harness {
    display: inline-block;
    --webkit-transform: translate(-50px, -50px);
    -ms-transform: translate(-50px, -50px);
    -o-transform: translate(-50px, -50px);
    transform: translate(-50px, -50px);

    -webkit-transition-delay: 16s;
    -o-transition-delay: 16s;
    transition-delay: 16s;

    transition-duration: 1s;
}

#outlook {
    border-radius: 5px;
    position: relative;
    right: -1000px;
    bottom: -500px;
}

#devHarness.present #outlook {
    display: inline-block;
    -webkit-transform: translate(-900px, -900px);
    -ms-transform: translate(-900px, -900px);
    -o-transform: translate(-900px, -900px);
    transform: translate(-900px, -900px);

    -webkit-transition-delay:16s;
    -o-transition-delay:16s;
    transition-delay:16s;

    transition-duration: 2s;
}

#process {
    width: 1200px;
}

#process #harness2 {
    width: 300px;
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

#process #hello {
    display: inline-block;
    position: absolute;
    bottom: 60px;
    left: 250px;
    -webkit-transform: rotateZ(-80deg);
    -ms-transform: rotateZ(-80deg);
    -o-transform: rotateZ(-80deg);
    transform: rotateZ(-80deg);
    -webkit-transition-delay: 4s;
    -o-transition-delay: 4s;
    transition-delay: 4s;
}

#process.present #harness2 {
    width: 300px;
    display: inline-block;
    transition-delay: 8s;
}

#process .fa-camera {
    transition-delay: 12s;
}

#process .row {
    margin-bottom: 30px;
    height: 230px;
}

.white-icons i {
    color: white;
}

#process .fa-envelope {
    -webkit-transition-delay: 16s;
    -o-transition-delay: 16s;
    transition-delay: 16s;
}

#process #first-user {
    -webkit-transition-delay: 20s;
    -o-transition-delay: 20s;
    transition-delay: 20s;
}

#process #first-db {
    -webkit-transition-delay: 24s;
    -o-transition-delay: 24s;
    transition-delay: 24s;
}

#process #second-user {
    -webkit-transition-delay: 28s;
    -o-transition-delay: 28s;
    transition-delay: 28s;
}

#process #second-db {
    -webkit-transition-delay: 32s;
    -o-transition-delay: 32s;
    transition-delay: 32s;
}

#process .fa-file-excel-o {
    -webkit-transition-delay: 36s;
    -o-transition-delay: 36s;
    transition-delay: 36s;
}

#process-problems {
    width: 1200px;
}

#stories {
    width: 1200px;
    height: 875px;
    transition: transform 2s;
}

#stories i {
    margin-right: 15px;
    margin-bottom: 15px;
}

#stories #story-row {
    width: 100%;
    position: absolute;    
}

#stories #story-row-1 {
    position: absolute;
    bottom: 700px;
}

#stories #story-row-2 {
    position: absolute;
    bottom: 525px;
}

#stories #story-row-3 {
    position: absolute;
    bottom: 350px;
}

#stories #story-row-4 {
    position: absolute;
    bottom: 175px;
}

#stories #story-row-5 {
    position: absolute;
    bottom: 0px;
}

#stories.present .story-row {
    bottom: 350px !important;
    transition-duration: 1s;
    transition-delay: 4s;
}

#stories.past .story-row {
    bottom: 350px !important;
}

#flowchart {
    width: 1200px;
    height: 900px;
    background-color: white;
}

#flowchart:not(.present) img {
    opacity: 0;
    transition-duration: .75s;
}

#flowchart.present img {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 2s;
}

.step.spec-frame {
    opacity: 1 !important;
}

#acronyms.future h3 {
    opacity: 0;
}

#acronyms.present h3 {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 3s;
}

.app-layer {
    opacity: 1 !important;
}

#web-api,
.app-layer {
    width: 1200px;
}

.app-layer .well {
    margin-bottom: 0;
    z-index: -10;
}

.app-layer h2 {
    z-index: 10;
    margin-top: 10px;
}

.app-layer.future h2 {
    opacity: 0;
}

.app-layer:not(.future) h2 {
    opacity: 1;
    transition-duration: 1s;
}

#deploy.present .fa-windows {
    animation: pulsate 2s ease-out;
    animation-delay:         6s;
}

#deploy.present .fa-database {
    animation: pulsate 2s ease-out;
    animation-delay:         12s;
}

#deploy.present .fa-code {
    animation: pulsate 2s ease-out;
    animation-delay:         18s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
